@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app

@code {

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/map");
    }

}
