@page "/map"

@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (addingPoint)
{
    <AddPointComponent />
}

<div id="map" style="width: 100vw; height: 100vh; opacity:@opacity%" >
</div>

<button class="addPoint" @onclick="AddPointSurvey">
    <span class="oi @icon"></span>
</button>

@code {

    private bool addingPoint = false;
    private string opacity = "100";
    private string icon = "oi-plus";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var apikey = "pk.eyJ1Ijoic3BhY2UtY293Ym95IiwiYSI6ImNsZW1yM3Z1ZTE4NGkzcW40eGdpdGNuYjcifQ.baBUxOLdUB2i7auVsvDGyQ";
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap", apikey);
            await JSRuntime.InvokeVoidAsync("addMarker", 43, -3);
        }
    }

    private void ChangeAppearance()
    {
        if (addingPoint)
        {
            opacity = "50";
            icon = "oi-x";
        }
        else
        {
            opacity = "100";
            icon = "oi-plus";
        }
    }

    private void AddPointSurvey()
    {
        addingPoint = !addingPoint;
        ChangeAppearance();
        StateHasChanged();
    }

}