* {
    --animation: cubic-bezier(0.785, 0.18, 0.415, 1.65);
}


#map {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    position: absolute;
    left: 50%;
    bottom: 6rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.2rem;
}

    .wrapper button {
        outline: none;
        border: none;
        height: 4rem;
        width: 4rem;
        background-color: green;
        box-shadow: 0px 0px 10px gray;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

        .wrapper button span {
            color: white;
            font-size: 1.5rem;
        }

        .wrapper button:hover {
            transform: scale(1.1);
        }

    .wrapper .options {
        z-index: 99;
        bottom: -6rem;
        transition: 500ms transform var(--animation);
    }

    .wrapper .addMarker, .session, .change {
        position: relative;
        bottom: -6rem;
        opacity: 0;
        transform: rotatez(-45deg);
        transition: 500ms all var(--animation);
        pointer-events: none;
    }

.open-loged .addMarker, .open-loged .session, .open-loged .change {
    bottom: 0;
    opacity: 1;
    transform: rotatez(0deg);
    pointer-events: auto;
}
.open .session {
    bottom: 0;
    opacity: 1;
    transform: rotatez(0deg);
    pointer-events: auto;
}

.open .options {
    transform: rotate(135deg);
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    /* border-radius: 50% 50% 50% 0;
    border: 4px solid #fff;
    width: 20px;
    height: 20px;*/
    transform: rotate(-45deg);
    background-color: green;
}

/*.marker::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: -5px;
        margin-top: -5px;
        background-color: rgb(28, 200, 52, 0.95);
        z-index: 3;
    }*/



/*.pin2 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;
    border-radius: 50%;
    border: 8px solid #fff;
    width: 8px;
    height: 8px;
}

    .pin2::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        bottom: -30px;
        left: -6px;
        border: 10px solid transparent;
        border-top: 17px solid #fff;
    }*/
