<div class="main">
    <form>
        <div class="card p-3">
            <div class="form-group row">
                <label for="inputLatitud">Coordenadas</label><p>(Puede clic en el mapa para añadir las coordenadas)</p>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6">                
                    <input type="email" class="form-control" id="inputLatitud" placeholder="Latitud">
                </div>
                <div class="form-group col-md-6">
                    <input type="password" class="form-control" id="inputLongitud" placeholder="Longitud">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="inputAddress">Nombre del Punto Verde</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Nombre">
            </div>
            <hr />
            @foreach (DescriptionProperty extra in extraFieldComponents)
            {
                <ExtraFieldComponent descriptionProperty="extra" />
            }
            <br />
            <div class="form-group col-md-6">
                <input type="button" class="btn btn-primary" value="Añadir Caracteristica" onclick="@AddExtraField" />
            </div>
        </div>
    </form>
</div>

@code {
    private List<DescriptionProperty> extraFieldComponents = new List<DescriptionProperty>();

    private void AddExtraField(){
        DescriptionProperty descriptionProperty = new DescriptionProperty();
        descriptionProperty.Description = "";
        descriptionProperty.Name = "";
        extraFieldComponents.Add(descriptionProperty);
    }
}
