<div class="form-group">
    <label for="input">@name</label>
    <input type="text" class="form-control" id="input" value="@value" />
</div>

@code {
    public string name { get; set; }
    public string value { get; set; }
}
