<div class="form-group">
    <label for="input">@descriptionProperty.Name</label>
    <input type="text" class="form-control" id="input" value="@descriptionProperty.Description" />
</div>

@code {
    [Parameter]
    public DescriptionProperty descriptionProperty { get; set; }
}
